<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div class="text-dark" id="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary font-weight-bold m-0">World</h6>
                                <select  [(ngModel)]="this.worldPlotTraceDropdownSelected" (change)="this.updateWorldPlot(this.worldPlotTraceDropdownSelected,this.worldPlotTimeline)"  style="font-size:15px; background: #f8f9fc; border:0px; outline:0px;">
                                    <option *ngFor="let kind of this.worldPlotTraceDropdown" [ngValue]="kind"> {{kind.name}} </option>
                                </select>
                            </div>
                            <div  class="card-body">

                                <div *ngIf="this.showWorldPlot == false" class="row" style="height: 300px;">
                                    <div class="col text-center align-self-center">
                                        <h1>Loading Visuals...</h1>
                                    </div>
                                </div>

                                <iframe  *ngIf="this.showWorldPlot == true" id="igraph" scrolling="no" style="border:none;" seamless="seamless" [src]="this.worldPlotLink" height="300" width="100%"></iframe>
                                
                                <div *ngIf="this.showWorldPlot == true" class="row" style="margin-top: 10px;">
                                    <div class="col text-center" *ngFor="let button of this.worldPlotTimeline"> 
                                        <div class="col text-center">
                                            <button  [ngClass]="button.selected ? 'btn btn-light text-info border rounded border-white' : 'btn text-muted border rounded border-white' " type="button" (click)="updateButtonSelected('world',button.id, this.worldPlotTimeline,this.worldPlotTraceDropdownSelected)" >{{button.name}}</button>
                                        </div>
                                    </div>
                                </div>
                            
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-xl-4">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3" style="height: 56px;">
                                <div class="row" style="height: 25px;">
                                    <div class="col align-self-center">
                                        <h6 class="text-primary font-weight-bold m-0">Top Countries</h6>
                                    </div>
                                    <div class="col text-right align-self-center">
                                        <select  [(ngModel)]="this.topCountriesTraceDropdownSelected" (change)="this.updateTopCountriesData(this.topCountriesTraceDropdownSelected)" style="font-size:15px; background: #f8f9fc; border:0px; outline:0px;">
                                            <option *ngFor="let kind of this.topCountriesTraceDropdown" [ngValue]="kind"> {{kind.name}} </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">

                                <div *ngIf="this.showTopCountriesData == false">
                                <li  class="list-group-item" *ngFor="let number of [0,1,2,3,4,6,5]">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <h6 class="mb-0"><strong> - </strong></h6><span class="text-xs"></span></div>
                                        <div class="col-auto"><span style="margin-right: 10px;">-</span><i class="fa fa-star"></i></div>
                                    </div>
                                </li>
                            </div>
                                <div *ngIf="this.showTopCountriesData == true">
                                <li  class="list-group-item" *ngFor="let country of this.topCountriesData">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <h6 class="mb-0"><strong>{{country.country}}</strong></h6><span class="text-xs">{{country.description}}: {{country.percentage}}%</span></div>
                                        <div class="col-auto"><span style="margin-right: 10px;">{{country.total}}</span><i class="fa fa-star"></i></div>
                                    </div>
                                </li>
                            </div>


                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-8">
                        <div class="card shadow mb-4">
                            <div style="height:55px;" class="card-header d-flex justify-content-between align-items-center">
                                
                                <h6 class="text-primary font-weight-bold m-0">Top Countries</h6>
                                <select  [(ngModel)]="this.topCountriesTracePlotDropdownSelected"  (change)="this.updateTopCountriesPlot(this.topCountriesTracePlotDropdownSelected,this.topCountriesPlotTimeline)" style="font-size:15px; background: #f8f9fc; border:0px; outline:0px;">
                                    <option *ngFor="let kind of this.topCountriesTracePlotDropdown" [ngValue]="kind"> {{kind.name}} </option>
                                </select>
                            </div>
                            <div class="card-body">
                                
                                <div *ngIf="this.showTopCountriesPlot == false" class="row" style="height: 510px;">
                                    <div class="col text-center align-self-center">
                                        <h1>Loading Visuals...</h1>
                                    </div>
                                </div>
                                
                                <iframe *ngIf="this.showTopCountriesPlot == true"  id="igraph" scrolling="no" style="border:none;" seamless="seamless" [src]="this.topCountriesPlotLink" height="460" width="100%"></iframe>
                                
                                <div *ngIf="this.showTopCountriesPlot == true" class="row" style="margin-top: 10px;">
                                    <div class="col text-center" *ngFor="let button of this.topCountriesPlotTimeline"> 
                                        <div class="col text-center">
                                            <button  [ngClass]="button.selected ? 'btn btn-light text-info border rounded border-white' : 'btn text-muted border rounded border-white' "  (click)="updateButtonSelected('topCountries',button.id, this.topCountriesPlotTimeline,this.topCountriesTracePlotDropdownSelected)"  type="button"  >{{button.name}}</button>
                                        </div>
                                    </div>
                                </div>
                            
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card shadow mb-4" style="height: 700px;">
                            <div class="card-header d-flex justify-content-between align-items-center" style="height: 56px;">
                                <div class="col">
                                    <div class="row">
                                        <div class="col text-left align-self-center">
                                            <h6 class="text-primary font-weight-bold m-0">United States</h6>
                                        </div>
                                        <div class="col text-right">
                                            <form class="d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                                <div class="input-group"><input class="bg-white form-control border-0 small" type="text" placeholder="Search For Country...">
                                                    <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" style="height: 650px;">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-lg-6 mb-4">
                                                <div class="card text-danger border-danger shadow">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <p class="m-0">Primary</p>
                                                                <p class="text-danger small m-0">#4e73df</p>
                                                            </div>
                                                            <div class="col text-right align-self-center"><i class="fa fa-star"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 mb-4">
                                                <div class="card text-success border-success shadow">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <p class="m-0">Primary</p>
                                                                <p class="text-success small m-0">#4e73df</p>
                                                            </div>
                                                            <div class="col text-right align-self-center"><i class="fa fa-star"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-lg-6 mb-4">
                                                <div class="card text-warning border-warning shadow">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <p class="m-0">Primary</p>
                                                                <p class="text-warning small m-0">#4e73df</p>
                                                            </div>
                                                            <div class="col text-right align-self-center"><i class="fa fa-star"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 mb-4">
                                                <div class="card text-warning border-warning shadow">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <p class="m-0">Primary</p>
                                                                <p class="text-warning small m-0">#4e73df</p>
                                                            </div>
                                                            <div class="col text-right align-self-center"><i class="fa fa-star"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-lg-6 mb-4">
                                                <div class="card text-danger border-danger shadow">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <p class="m-0">Primary</p>
                                                                <p class="text-danger small m-0">#4e73df</p>
                                                            </div>
                                                            <div class="col text-right align-self-center"><i class="fa fa-star"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 mb-4">
                                                <div class="card text-success border-success shadow">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <p class="m-0">Primary</p>
                                                                <p class="text-success small m-0">#4e73df</p>
                                                            </div>
                                                            <div class="col text-right align-self-center"><i class="fa fa-star"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-lg-6 mb-4">
                                                <div class="card text-warning border-warning shadow">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <p class="m-0">Primary</p>
                                                                <p class="text-warning small m-0">#4e73df</p>
                                                            </div>
                                                            <div class="col text-right align-self-center"><i class="fa fa-star"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 mb-4">
                                                <div class="card text-warning border-warning shadow">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <p class="m-0">Primary</p>
                                                                <p class="text-warning small m-0">#4e73df</p>
                                                            </div>
                                                            <div class="col text-right align-self-center"><i class="fa fa-star"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-bottom: 15px;">
                                    <div class="col">
                                        <div class="dropdown"><button class="btn btn-light btn-sm dropdown-toggle border rounded border-light" data-toggle="dropdown" aria-expanded="false" type="button">Dropdown </button>
                                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                                        </div>
                                    </div>
                                    <div class="col text-right">
                                        <div class="dropdown border rounded border-light"><button class="btn btn-light btn-sm dropdown-toggle border rounded border-light" data-toggle="dropdown" aria-expanded="false" type="button">Dropdown </button>
                                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <iframe  id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plotly.com/~corona_dashboard/43.embed?showlink=false&modebar=false&autosize=true" height="350" width="100%"></iframe>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>